*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color-header: #ff6900;
    --bg-color-percent: #ff0000;
    --bg-color-sost: #008000;
    --bg-color-sconto:#ff0001;
    --bg-color-footer: #1a1a1a;
}
/* head-setting */
.hd-container{
    display: flex;
    background-color: var(--bg-color-header);
    height: 80px;
    justify-content: space-around;
    align-items: center;
    
    
}
.logo{ 
    height: 30%;
}
.Model ,.personal-sect{
    color: white;
    
}
.main-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
    justify-content: space-around;
    padding-left: 300px;
    padding-right:300px;
    padding-top: 100px;

    
}
.img-product1 ,.img-product2 ,.img-product4 ,.img-product5 ,.img-product6{
    height: auto;
    width:auto;
}
.img-product3{
    height: 924px;
    width: 640px;
}
.img-product4 ,.img-product5 ,.img-product6{
    padding-top: 70px;
}
.product-name ,.product-info ,.red-product-price ,.product-price ,.srl ,.aziend-info ,.social ,.Model{
    font-family: Arial, Helvetica, sans-serif;
}
.red-product-price{
    color: var(--bg-color-sconto);
}
.product-price{
    text-decoration: line-through;
}
.foot-container{
    display: flex;
    background-color:var(--bg-color-footer);
    height: 120px;
    margin-top: 70px;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.aziend-info{
    padding-left: 300px;
}
.social{
    padding-right: 300px;
}
.legal{
    padding-top: 10px;
}
.icon{
    padding-top: 10px;
}

