*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-color-header: #ff6900;
    --bg-color-percent: #ff0000;
    --bg-color-sost: #008000;
    --bg-color-sconto:#ff0001;
}
/* head-setting */
.hd-container{
    display: flex;
    background-color: var(--bg-color-header);
    height: 80px;
    width: 100%;
    justify-content: space-around   ;
    align-items: center;
    
}
img{ 
    height: 30%;
}
.Model ,.personal-sect{
    color: white;
    
}
.main-container{
    display: flex;
    width: 30%;
    align-items: center;

}
.main-container{
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
